SCOPE = "https://www.googleapis.com/auth/calendar.readonly"

SERVER_ADDRESS = "https://some.dns.that.resolves.to.calendar.ip"

login_hint = "emailYouMostLikelyWant@gmail.com"

filter = {
    "calendarNameInGoogle": "NameToRenderOnDevice",
}
