[Unit]
Description=ePaper Calendar
After=multi-user.target

[Service]
WorkingDirectory=/home/thetrav/calendar
ExecStart=/usr/bin/python /home/thetrav/calendar/index.py

[Install]
WantedBy=multi-user.target
